<div class="synopsis">
  <h1 id="titulo">Yu-Gi-Oh! Duel Monsters</h1>
  <img
    src="../../../assets/image/index/cabecera-yugioh.jpg"
    class="cabecera"
    alt="Cabecera"
  />
  <div id="sinopsis">
    <p>
      Yu-Gi-Oh (Significa Rey de los Juegos), Su personaje principal Yugi Muto
      en compañía de sus mejores amigos Katsuya Jonouchi (Joseph Wheeler), Anzu
      Mazaki (Tea Gardner), y Hiroto Honda (Tristán Taylor), pero también tiene
      la compañía de un espíritu de un Antiguo Faraón "Atem"; tienen aventuras
      que están estrechamente ligadas a un juego de cartas "Duelo de Monstruos",
      un juego ligado con el pasado de egipto el cual se jugaba en tiempos
      antiguos y que es descubierto por Pegasus J. Crawford (maximilian
      Pegasus), este es el creador de el Juego "Duelo de Monstruos" tomando como
      base lo que paso en egipto hace mucho tiempo. Del juego se crean torneos y
      campeonatos nacionales e internacionales, participando Yugi Mūtō
      obteniendo el titulo de "Rey de los Juegos". Yugi Mūtō y su contraparte el
      Antiguo Faraón "Atem" se enfrentan a muchas vicisitudes ocasionadas por
      enemigos en su mayoia del pasado de el faraon, teniendo el faron con la
      ayuda de Yugi la labor de detenerlos.
    </p>
    <ul>
      <li>Tipo: Serie.</li>
      <li>Género: Shounen, Juegos, Aventura.</li>
      <li>Estudios: Gallop.</li>
      <li>Idiomas: Japonés</li>
      <li>Duración: 24 min por episodio.</li>
      <li>Fecha emisión: Abr 18 de 2000 a Sep 29 de 2004</li>
      <li>Estado: Concluido</li>
    </ul>
  </div>
  <div class="clear"></div>
</div>

<app-body-yugioh></app-body-yugioh>

