<div class="apartado2">
    <div class="capitulosA">
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/one-piece/cap1.jpg" alt="Imagen" />
        <cap-button routerLink="/1">Capítulo 1</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/one-piece/cap2.jpg" alt="Imagen" />
        <cap-button routerLink="/2">Capítulo 2</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/one-piece/cap3.jpg" alt="Imagen" />
        <cap-button routerLink="/3">Capítulo 3</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/one-piece/cap4.jpg" alt="Imagen" />
        <cap-button routerLink="/4">Capítulo 4</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/one-piece/cap5.jpg" alt="Imagen" />
        <cap-button routerLink="/5">Capítulo 5</cap-button>
      </div>
    </div>

    <div class="capitulosB">
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/one-piece/cap6.jpg" alt="Imagen" />
        <cap-button routerLink="/6">Capítulo 6</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/one-piece/cap7.jpg" alt="Imagen" />
        <cap-button routerLink="/7">Capítulo 7</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/one-piece/cap8.jpg" alt="Imagen" />
        <cap-button routerLink="/8">Capítulo 8</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/one-piece/cap9.jpg" alt="Imagen" />
        <cap-button routerLink="/9">Capítulo 9</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/one-piece/cap10.jpg" alt="Imagen" />
        <cap-button routerLink="/10">Capítulo 10</cap-button>
      </div>
    </div>
    <a href="/one" id="enlace-lista">Ver lista completa</a>
  </div>