<div class="synopsis">
  <h1 id="titulo">Hajime no Ippo</h1>
  <img
    src="../../../assets/image/index/cabecera-ippo.jpg"
    class="cabecera"
    alt="Cabecera"
  />
  <div id="sinopsis">
    <p>
      Makunouchi Ippo es un chico honrado y humilde, al que le gusta mucho
      ayudarle con sus deberes a su madre. Hasta el momento, no tenía ninguna
      meta u objetivo claro en la vida, pero mientras un día estaba siendo
      molestado por unos pandilleros, se encuentra con un campeón nacional de
      boxeo japonés, Mamoru Takamura, quien lo defiende de los abusones y lo
      regaña por lo patético que se ve al no defenderse. A partir de este punto
      Takamura le enseña el arte del boxeo profesional e Ippo se ve inspirado
      tras ello. La historia dará lugar a un nuevo campeón sin lugar a dudas.
    </p>
    <ul>
      <li>Tipo: Serie.</li>
      <li>Género:  Deportes, Shounen, Drama, Comedia.</li>
      <li>Estudios: Madhouse.</li>
      <li>Idiomas: Japonés</li>
      <li>Duración: 24 min por episodio.</li>
      <li>Fecha emisión: Oct 4 de 2000 a Mar 27 de 2002</li>
      <li>Estado: Concluido</li>
    </ul>
  </div>
  <div class="clear"></div>
</div>

<app-body-video></app-body-video>

<footer>Página creada por MPanime, Derechos reservados © 2023.</footer>
