.container {
  display: flex;
  flex-wrap: wrap;
}

.user {
  
  border: none;
  border-radius: 100px;
  background: none;
  cursor: pointer;

  img {
    height: 40px;
    margin: 5px;
  }
}

.username {
  font-size: 20px;
  color: var(--white);
  margin-top: 5px; 
  text-align: center;
}

.crud {
  height: auto; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0;
  background-color: var(--skyblue);
  overflow-x: hidden;
  margin-top: 6.5px;
  padding-top: 60px;
  padding-bottom: 30px;
  transition: 0.5s; 
}

.crud a {
  margin: 20px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--black);
  display: block;
  transition: 0.3s;
}

.crud a:hover {
  color: var(--white);
}

.crud .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .crud {padding-top: 15px;}
  .crud a {font-size: 18px;}
}