.form-container {
  display: grid;
  place-items: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 320px;
  border-radius: 0.75rem;
  background-color: var(--white);
  padding: 2rem;
  color: var(--dodgerblue);

  .title {
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
  }

  .form {
    margin-top: 1.5rem;

    .input-group {
      margin-top: 0.25rem;
      font-size: 1rem;
      line-height: 1.25rem;

      label {
        display: block;
        color: var(--dodgerblue);
        margin-bottom: 4px;
      }

      input {
        width: 100%;
        border-radius: 0.375rem;
        border: 1px solid var(--dodgerblue);
        outline: 0;
        background-color: var(--lemonchiffon);
        padding: 0.75rem 1rem;
        color: var(--black);

        &:focus {
          border-color: var(--darkorange);
        }
      }
    }

    .forgot {
      display: flex;
      justify-content: flex-end;
      font-size: 1rem;
      line-height: 1rem;
      color: var(--dodgerblue);
      margin: 8px 0 14px 0;

      a,
      .signup a {
        color: var(--dodgerblue);
        text-decoration: none;
        font-size: 16px;

        &:hover {
          text-decoration: underline var(--darkorange);
        }
      }
    }
  }
}

.sign {
  display: block;
  width: 100%;
  background-color: var(--darkorange);
  padding: 0.75rem;
  text-align: center;
  color: var(--white);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;

  &:hover {
    background-color: var(--dodgerblue);
    cursor: pointer;
  }
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: var(--black);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--dodgerblue);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: var(--dodgerblue);
}

.signup {
  text-align: center;
  font-size: 1rem;
  line-height: 1rem;
  color: var(--dodgerblue);
}
