<div class="apartado2">
    <div class="capitulosA">
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/ippo/cap1.jpg" alt="Imagen" />
        <cap-button (click)="redirect(1)">Capítulo 1</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/ippo/cap2.jpg" alt="Imagen" />
        <cap-button (click)="redirect(2)">Capítulo 2</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/ippo/cap3.jpg" alt="Imagen" />
        <cap-button (click)="redirect(3)">Capítulo 3</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/ippo/cap4.jpg" alt="Imagen" />
        <cap-button (click)="redirect(4)">Capítulo 4</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/ippo/cap5.jpg" alt="Imagen" />
        <cap-button (click)="redirect(5)">Capítulo 5</cap-button>
      </div>
    </div>

    <div class="capitulosB">
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/ippo/cap6.jpg" alt="Imagen" />
        <cap-button (click)="redirect(6)">Capítulo 6</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/ippo/cap7.jpg" alt="Imagen" />
        <cap-button (click)="redirect(7)">Capítulo 7</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/ippo/cap8.jpg" alt="Imagen" />
        <cap-button (click)="redirect(8)">Capítulo 8</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/ippo/cap9.jpg" alt="Imagen" />
        <cap-button (click)="redirect(9)">Capítulo 9</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/ippo/cap10.jpg" alt="Imagen" />
        <cap-button (click)="redirect(10)">Capítulo 10</cap-button>
      </div>
    </div>
    <a href="/ippo" id="enlace-lista">Ver lista completa</a>
  </div>