<div class="apartado2">
    <div class="capitulosA">
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/one-piece/cap1.jpg" alt="Imagen" />
        <cap-button onClick="redirect()">Capítulo 1</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/one-piece/cap2.jpg" alt="Imagen" />
        <cap-button>Capítulo 2</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/one-piece/cap3.jpg" alt="Imagen" />
        <cap-button>Capítulo 3</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/one-piece/cap4.jpg" alt="Imagen" />
        <cap-button>Capítulo 4</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/one-piece/cap5.jpg" alt="Imagen" />
        <cap-button>Capítulo 5</cap-button>
      </div>
    </div>

    <div class="capitulosB">
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/one-piece/cap6.jpg" alt="Imagen" />
        <cap-button>Capítulo 6</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/one-piece/cap7.jpg" alt="Imagen" />
        <cap-button>Capítulo 7</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/one-piece/cap8.jpg" alt="Imagen" />
        <cap-button>Capítulo 8</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/one-piece/cap9.jpg" alt="Imagen" />
        <cap-button>Capítulo 9</cap-button>
      </div>
      <div class="imagen-con-boton">
        <img src="../../../../assets/image/one-piece/cap10.jpg" alt="Imagen" />
        <cap-button>Capítulo 10</cap-button>
      </div>
    </div>
    <a href="/home" id="enlace-lista">Ver lista completa</a>
  </div>